STREAMFORGE_HOME=/opt/streamforge
STREAMFORGE_CONFIG=/etc/streamforge
STREAMFORGE_DATA=/var/lib/streamforge
STREAMFORGE_LOG=/var/log/streamforge
TWITCH_CHANNEL=your_channel
TWITCH_QUALITY=best
ENABLE_YOUTUBE=true
ENABLE_VOD=true
ENABLE_TELEGRAM=false
DISK_ALERT_PERCENT=85
